<template>
  <v-btn class="d-flex align-self-end" style="width: 100%;min-height: 100px;" :class="{'color': bool}" @click="toggleSwith">PLAY</v-btn>
</template>

<script>
import Sensor from "@/components/sensors/Sensor";
export default {
  extends: Sensor,
  name: "ActuationSensor",
  data() {
    return {
      type: 3306
    };
  },
  computed: {
    bool() {
      if (this.sensor) {
        return JSON.parse(this.sensor.resources[5850].toString());
      } else {
        return false;
      }
    }
  },
  methods: {
    toggleSwith() {
      const { sensor } = this;
      this.publishResourceValue({ sensor, resource: 5850, value: new Buffer(JSON.stringify(!this.bool)) });
    }
  }
};
</script>
<style lang="scss" scoped>
.color {
  color: red;
}
</style>