<template>
    <v-file-input class="align-self-end" accept="audio/*" @change="sendSound" label="Give me that sound"></v-file-input>
</template>

<script>
import Sensor from "@/components/sensors/Sensor";
export default {
  extends: Sensor,
  name: "AudioClipSensor",
  data() {
    return {
      type: 3339,
      audioContext: new AudioContext(),
      elementsMounted: false,
      audioContext: null,
      audioSource: null,
      audioClipBuffer: null
    };
  },
  computed: {
    sound() {
      if (this.sensor) {
        return this.sensor.resources[5522];
      } else {
        return [];
      }
    },
    actuationSensor() {
      if (this.sensor) {
        let widget = this.getWidget(this.sensor.nativeNodeId);
        let actuationSensor = widget[1];
        return actuationSensor.resources[5850].toString();
      }
    }
  },
  methods: {
    async play(sound) {
      this.audioSource = this.audioContext.createBufferSource();
      this.audioSource.buffer = sound;
      this.audioSource.loop = true;
      this.audioSource.connect(this.audioContext.destination);
      this.audioSource.start(0);
    },
    async sendSound(sound) {
      const { sensor } = this;
      const fileReader = new FileReader();
      fileReader.onload = async () => {
        const arrayBuffer = Buffer.from(fileReader.result);
        await this.publishResourceValue({
          sensor,
          resource: 5522,
          value: arrayBuffer
        });
      };
      fileReader.readAsArrayBuffer(sound);
    },
    async parseAudio(value) {
      if (value.type && value.data) {
        this.audioClipBuffer = await this.audioContext.decodeAudioData(
          Buffer.from(value.data).buffer
        );
      } else if (value instanceof ArrayBuffer) {
        this.audioClipBuffer = await this.audioContext.decodeAudioData(value);
      } else if (typeof value === "string") {
        this.audioClipBuffer = await this.audioContext.decodeAudioData(
          Buffer.from(value, "base64").buffer
        );
      }
      return null;
    },
    mountElements() {
      try {
        window.AudioContext = window.AudioContext || window.webkitAudioContext;
        this.audioContext = new AudioContext();
        this.elementsMounted = true;
      } catch (e) {
        this.elementsMounted = false;
        return "Web Audio API is not supported in this browser";
      }
    }
  },
  async mounted() {
    await this.mountElements();
    if (this.sound && this.sound !== null) {
      this.parseAudio(this.sound);
    }
  },
  watch: {
    actuationSensor(val) {
      const isSwitched = JSON.parse(val);
      if (isSwitched) {
        this.play(this.audioClipBuffer);
      }else{
        this.audioSource.stop(0)
      }
    }
  }
};
</script>
<style scoped>
.hidden {
  display: none;
}
</style>