<template>
  <v-card class="d-flex flex-wrap" min-width="344">
    <v-btn class="justify-self-end" style="position: absolute;right: 0;" color="red lighten-1" @click="deleteWidget({nativeNodeId, widget: widgetByType})">Delete</v-btn>
    <audio-clip-sensor ref="audioCLip" :sensor="widget[0]" :nativeNodeId="nativeNodeId"></audio-clip-sensor>
    <actuation-sensor ref="actuation" :sensor="widget[1]" :nativeNodeId="nativeNodeId"></actuation-sensor>
  </v-card>
</template>

<script>
import Widget from "@/components/widgets/Widget";
import AudioClipSensor from "@/components/sensors/AudioClipSensor";
import ActuationSensor from "@/components/sensors/ActuationSensor";
export default {
  extends: Widget,
  name: "AudioPadWidget",
  components: {
    AudioClipSensor,
    ActuationSensor
  },
  data() {
    return {
      type: 1
    };
  }
};
</script>