<template>
  <v-container class="d-flex" style="height: 100%; align-items: center;">
    <v-card style="flex-basis: 540px;" class="mx-auto">
      <v-card-title>Authenticate</v-card-title>
      <v-card-text >
        <AuthenticateForm :redirect="true"></AuthenticateForm>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import AuthenticateForm from "@/components/AuthenticateForm";
import { mapGetters } from "vuex";
export default {
  name: "authenticate",
  components: {
    AuthenticateForm
  },
  computed: {
    ...mapGetters("device", {
      device: "device"
    })
  }
};
</script>