<template>
  <div>
    <grid-generator />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import socket from "@/services/mqtt";
import GridGenerator from '@/components/GridGenerator';
export default {
  components: {
    GridGenerator
  },
  methods: {
    ...mapActions("device", ["getFullState"])
  },
  async created() {
    socket.initSocket();
    await this.getFullState();
  }
};
</script>
