<template>
  <v-form ref="form">
    <v-text-field v-model="credentials.deviceId" label="Device Id" required></v-text-field>

    <v-text-field v-model="credentials.apiKey" label="API Key" required></v-text-field>

    <v-btn
      color="success"
      class="mr-4"
      @click="!redirect ? authenticate(credentials) : authenticateAndRedirect()"
    >Connect</v-btn>
  </v-form>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "login-form",
  props: {
    redirect: {
      type: Boolean
    }
  },
  data() {
    return {
      credentials: {
        deviceId: process.env.VUE_APP_DEVICE_ID,
        apiKey: process.env.VUE_APP_API_KEY
      }
    };
  },
  methods: {
    ...mapActions("device", ["authenticate"]),
    async authenticateAndRedirect() {
      await this.authenticate(this.credentials);
      this.$router.push({ name: "home" });
    }
  }
};
</script>