<template>
  <div>
    <v-subheader>Grid Generator</v-subheader>
    <v-container fluid style="height:20vh;" class="widget-selector d-flex deep-purple">
      <v-card
        class="d-flex justify-center align-center widget ma-3"
        v-for="widget in widgets"
        :key="widget.type"
        :class="{'yellow lighten-1': selectedWidgets.includes(widget)}"
        @click="toggleWidget(widget)"
      >
        <h1 class="deep-purple--text">{{widget.label}}</h1>
      </v-card>
      <v-btn @click="setWidgets" class="d-flex align-self-center" fab dark color="indigo">
        <v-icon dark>mdi-plus</v-icon>
      </v-btn>
    </v-container>
    <v-container fluid class="widget-grid mt-4 d-flex justify-content-center">
      <widget-grid :widgets="widgetGrid"></widget-grid>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { widgetsMapping } from "@/components/widgets";
import WidgetGrid from "@/components/WidgetGrid";
export default {
  components: {
    WidgetGrid
  },
  data() {
    return {
      selectedWidgets: [],
      widgets: widgetsMapping
    };
  },
  computed: {
    ...mapGetters("device", {
      widgetGrid: "getWidgets"
    })
  },
  methods: {
    ...mapActions("device", ["publishWidget"]),
    setWidgets() {
      let self = this;
      this.selectedWidgets.forEach(widget => self.publishWidget(widget));
    },
    toggleWidget(widget) {
      if (this.selectedWidgets.includes(widget)) {
        const idx = this.selectedWidgets.findIndex(i => i.type == widget.type);
        this.selectedWidgets.splice(idx, 1);
      } else {
        this.selectedWidgets.push(widget);
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.widget-selector {
  overflow-x: scroll;
  .widget {
    flex-basis: 200px;
    cursor: pointer;
    h1 {
      font-size: 16px;
    }
  }
}
.widget-grid {
  min-height: 50vh;
  .widget {
    flex-basis: 200px;
    max-height: 150px;
    h1 {
      font-size: 16px;
    }
  }
}
</style>