<template>
  <v-btn @click="logoutAndRedirect">Logout</v-btn>
</template>

<script>
import { mapActions } from "vuex";
export default {
  methods: {
    ...mapActions("device", ["logout"]),
    logoutAndRedirect() {
      this.logout();
      this.$router.push({ name: "authenticate" });
    }
  }
};
</script>