<template>
  <v-toolbar>
    <v-toolbar-title>{{$route.name}}</v-toolbar-title>

    <div class="flex-grow-1"></div>

    <v-toolbar-items>
      <Logout v-if="isConnected" />
      <v-btn v-if="!isConnected && $route.name !== 'authenticate'" :to="{name: 'authenticate'}">Authenticate</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import { mapGetters } from "vuex";
import Logout from "@/components/Logout";
export default {
  components: {
    Logout
  },
  computed: {
    ...mapGetters("device", {
      isConnected: "isConnected"
    })
  }
};
</script>