<template>
  <div class="d-flex flex-wrap" style="width: 100%;flex-direction: row;">
    <audio-pad-widget
      style="flex-basis: 400pxpx;margin: 25px;"
      :key="idx"
      :widget="widget"
      :nativeNodeId="parseInt(idx)"
      v-for="(widget, idx) in widgets"
    />
  </div>
</template>

<script>
import { widgets } from "@/components/widgets";
import { mapActions } from "vuex";
import _ from "lodash";
export default {
  props: {
    widgets: {
      type: Object,
      required: true,
      default: []
    }
  },
  components: {
    ...widgets
  },
  methods: {
    ...mapActions("device", ["getFullState"])
  },
  created() {
    this.$eventBus.$on("publish", ({ payload, message }) => {
      if (_.includes(["0", "3"], payload.method)) {
        this.getFullState();
      }
    });
  }
};
</script>