<template>
  <v-app>
    <v-content>
      <ag-menu v-if="$route.name !== 'authenticate'"/>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import AGMenu from '@/components/Menu'
export default {
  name: 'App',
  components: {
    'ag-menu' : AGMenu
  }
};
</script>
